@import "tailwindcss";

@layer utilities {
    .for-trans-input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
        -webkit-text-fill-color: white !important;
        caret-color: white !important;
        transition: background-color 9999s ease-in-out 0s;
    }
}