@import "tailwindcss";

@layer utilities {
    .for-trans-input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
        -webkit-text-fill-color: white !important;
        caret-color: white !important;
        transition: background-color 9999s ease-in-out 0s;
    }
}

.btn-primary {
    @apply px-3 py-1 font-semibold bg-white text-black border border-black rounded-lg cursor-pointer hover:bg-gray-900 hover:text-white transition-all duration-75;
}

.navLinkDefault {
    @apply text-lg transition-all duration-150 font-semibold hover:text-orange-500;
}